*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.menu-container{
	background-color: #292c38;
	color: white;
	height: 55px;
}
.menu-container .menuX{
	display: flex;
    line-height: 55px;
}
.menu-container .menuX>div{
	margin: 0 30px;
}
.menu-container .menuX .logo{
	flex-grow: 1;
}
.menu-container .menuX .menu{
	flex-grow: 8;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	color: white;
}
.menu-container .menuX .menu ul li{
	margin: 0 20px;
}
ul li{
	display: inline-block;
}
.menu-container .menuX .group-icon{
	text-align: center;
	flex-grow: 1;
}
.menu-container .menuX .group-icon ul li{
	width: 30px;
	height: 30px;
	border: 1px solid #3C404E;
	line-height: 30px;
	margin: 0 5px;
}
.intro{
	width: 75%;
	margin: 30px auto;
}
.intro .intro-rows{
	display: flex;
    text-align: center;
}
.intro .intro-rows .img{
    flex:75%;
    position: relative;
}
.intro .intro-rows .img23{
	margin-left: 35px;
    flex:25%;	
}
.intro .intro-rows img{
	width: 100%;
}
.intro .intro-rows .img .content{
	padding-top: 10px;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: rgba(255,255,255,0.7);
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.p1{
	color: gray;
	margin-bottom: 8px;
}
h3{
	margin:5px 2px 0 0;
	font-size: 25px;
}
.p2{
	color: red;
	font-size: 15px;
}
.intro .intro-rows .img23 {
	display: flex;
	flex-direction: column;
}
.img2{
	margin-bottom: 18px;
}
.img2,.img3{
	box-sizing: border-box;
	width: 100%;
}
a{
	text-decoration: none;
	color: white;
}
.info{
	width: 75%;
	margin: 35px auto;
	height: 125px;
	border: 1px solid gray;
}
.info .info-container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info .info-container >div i{
	margin-bottom: 10px;
}
.new-product{
	width: 75%;
	margin: 30px auto;
	height: 600px;
	border: 1px solid gray;
}
.new-product .title{
	height: 50px;
	padding-left: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid gray;
	line-height: 50px;
}
.new-product .list-product{
	padding: 30px 30px;
	display: flex;
	box-sizing: border-box;
}
.new-product .list-product .sp{
	margin-right: 5%;
	flex:25%;
	text-align: center;
}
.new-product .list-product .sp img{
	width: 115%;
}
.new-product .list-product .sp .content-sp p{
	margin-bottom: 6px;
}
.price{
	color:#F82E56; 
}
.new-product .list-product .sp .content-sp{
	margin-top: 10px;
}
.new-product .list-product .sp .add-cart{
	padding: 15px 20px;
	display: flex;
	width: 80%;
	height: 15px;
	text-align: center;
	margin: 10px 10px 8% 4%;
	border: 1px solid gray;
	animation: 0.8s ease;
}
.new-product .list-product .sp .add-cart p{
	font-size: 12px;
	font-weight: 600;
	display: block;
	margin-left: 7px;

}
.new-product .list-product .sp .cartx p{
	font-size: 10px;
	font-weight: 600;
	margin:5px 2px;
}
.new-product .list-product .sp .add-cart:hover{
  background-color: #F82E56;
  color: white;
}
}
.best-sp{
	height: 520px;
}
.new-product .list-product .calc3{
	width: calc(100%/3);
	margin-right: 25px;
}
.new-product .list-product .calc3 img{
	width: 100%;
} 
.new-product .list-product .calc3 .content-sp .comment ul li{
	margin-right: 15px;
}
.new-product .list-product .calc3 .content-sp .comment {
	margin:15px 8px 0 0;
}
.new-product .list-product .calc3 .content-sp .nd p{
	font-size: 14px;
	color: gray;
	display: inline;
}
.new-news{
   height: 490px;
}
.gallery{
	height:750px;
}
.art{
	margin: 30px 50px 20px 30px;
	display: flex;
}
.art img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.art .i1{
	flex: 70%;
	margin-right: 30px;
}
.art .i2{
	flex: 30%;
}
.art .p90{
	margin-right: 0;
	margin-left: 30px;
}
.brand{
	height: 120px;
	background-color: rgba(0,0,0,0.06);
}
.brand .list-br{
	margin: 20px 30px;
}
.brand .list-br ul li{
	margin: 0px 0px 30px 45px;
}
.contact{
	background-color: #333745;
	height: 250px;
	position: relative;
}
.contact .info-contact{
	width: 60%;
	height: 75%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.contact .info-contact h4{
	color: white;
	letter-spacing: 1px;
	font-size: 20px;
	margin:12px 0px;
}
.contact .info-contact p{
	color: gray;
	font-size: 14px;
	margin-bottom: 15px;
}
.contact .info-contact .email{
	width: 60%;
	height: 50px;
	box-sizing: border-box;
	padding: 8px 12px;
	margin-right: 15px;
} 
.contact .info-contact .sign{
	width: 180px;
	height: 50px;
	font-size: 20px;
	border: none;
	background-color: #F82E56;
	color: white;
	text-align: center;
	animation: 1s ease;
}
.contact .info-contact .sign:hover{
	color: white;
	background-color: #494e62;
}
.footer{
	height: 360px;
	background-color: #292c38;
}
.footer .footer-content{
	width: 75%;
	margin: 0 auto;
	padding-top: 30px;
	display: flex;
	justify-content: space-around;
}
.footer .footer-content .ft1 .ul2{
	display: flex;
	flex-direction: column;
	color: #A5A5A5;
}
.footer .footer-content .ft1 .ul2 li{
	margin-bottom: 16px;
	animation: 0.8s ease;
}
.footer .footer-content .ft1 .ul2 li:hover {
	color: #F82E56;
	cursor: pointer;
}

.footer .footer-content .ft1 .ul2 li .inline{
	display: inline-block;
	margin-left: 8px;
}
.footer .footer-content .ft1 p{
    margin-bottom: 16px;
}
.footer .footer-content .ft1 h4{
	margin-bottom: 12px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif
	letter-spacing: 1px;
	color: white;
}
.footer .footer-content .ft1 .social{
	display: flex;
	flex-direction: row;
}
.footer .footer-content .ft1 .social i{
	font-size: 16px;
	color: #A5A5A5;
	z-index: 1000;
}
.social li .border{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid gray;
	margin-right: 10px;
	animation: 0.7s ease;
}
.social li .border:hover{
	background-color: #F82E56;
	z-index: 2;
}
.copyright{
	height: 50px;
	line-height: 50px;
	color: #A5A5A5;
	background-color: #21242F;
	text-align: center;
}


